{% extends "::base.html.twig" %}

{% block title %}Rubros{% endblock %}


{% block body %}
    <table id="tabla">
            <a href=" {{ path('nuevo_rubro', { 'id_servicio' : id_servicio}) }}">Nuevo Rubro</a>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha Creado</th>
                    <th>Fecha Actualizado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for rubro in rubros %}
                <tr>
                    <td>{{ rubro.nombre }}</td>
                    <td>{{ rubro.fechacreado | date('Y-m-d H:i:s') }}</td>
                    <td>{{ rubro.fechaactualizado | date('Y-m-d H:i:s') }}</td>
                    <td><a href="{{ path('editar_rubro', { 'id' : rubro.id , 'id_servicio' : id_servicio }) }}">Editar</a>
                        <a href="#" onclick="confirmar('¿Esta seguro de Borrar el Rubro?',  '{{ path('borrar_rubro', { 'id' : rubro.id , 'id_servicio' : id_servicio}) }}')" >Borrar Rubro</a>
                        <a href="{{ path('index_institucion', { 'id_rubro' : rubro.id }) }}">Instituciones</a>
                    </td>
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6"> Total {{ rubros |length }}</td>
                </tr>

            </tfoot>
        </table>    
    

{% endblock %}
